.header{
    width: 100%;
    height: 70px;
    background-color: rgb(44, 43, 43);
}
body{
    margin: 0;
}
.logo{
    width: 30%;
    height: 70px;
    float: left;
}
.logo-image{
    width: 130px;
    height: 35px;
    margin-left: 60px;
    margin-top: 20px;
    float: left;
}
.search-bar{
    margin-top: 25px;
    margin-left: 50px;
    width: 400px;
}
.user-logo{
    height: 50px;
    background-color: white;
    margin-left: 906px;
    margin-top: -35px;
    border-radius: 30px;
}
.search-button{
    background-color: rgb(79, 81, 81);
    color: #fff;
    height: 25px;
    width: 85px;
    border-color:   rgb(79, 81, 81) ;
    cursor: pointer;
}
.search-button:hover{
    background-color: rgb(124, 124, 124);
}
.left-section{
    width: 70%;
    float: left;
}
.right-section{
    margin-top: 10px;
    margin-right: 5px;
    width: 29%;
    height: 550px;
    float: left;
    background-color: rgb(23, 23, 23);
}
.main-body{
    font-family: "Roboto","Arial",sans-serif;
    width: 100%;
    height: 800px;
    background-color: black;
}
.video{
    width: 820px;
    height: 450px;
    padding-left: 150px;
    padding-top: 20px;

}
.video-title{
    color: white;
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 400;
    padding-left: 150px;
    margin-top: -5px;
}
.view-count{
    color:grey;
    padding-left: 150px;
    margin-top: -15px;
}
.heading{
    color: #fff;
    font-size: 25px;
    margin-left: 50px;
}
.form{
    color: white;
    margin-left: 75px;
}
.add-box{
    margin-left: 12px;
    height: 75px;
}
.age-box{
    margin-left: 35px;
}
.gender{
    margin-top: 20px;
}
.radio{
    margin-top: 10px;
    color: gray;
}
.pass{
    margin-top: 20px;
}
.pass1{
    width: 250px;
}
.pass2{
    margin-top: 20px;
    width: 250px;
}
.terms{
    margin-top: 40px;
    font-size: 12px;
}
.submit{
    margin-top: 15px;
    margin-left: 100px;
    width: 100px;
    height: 35px;
    font-size: large;
    background-color: dimgray;
    border-radius: 8px;
}